@model List<Plant>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row justify-content-center g-4">
        @foreach (var plant in Model)
        {
            <div class="col-md-6">
                @* @Html.Partial("Plant_card_component", plant) *@
                <partial name="Plant_card_component" model="plant"/>
            </div>
        }
    </div>
</div>
