<section>
    <h1>Politika Privatnosti</h1>
    <p>Dobrodošli! Kroz korištenje naše web stranice pristajete na uvjete iznesene u ovoj Politici privatnosti. Vaša privatnost i sigurnost podataka su nam od izuzetne važnosti, a u nastavku detaljno opisujemo koje podatke prikupljamo, kako ih koristimo i dijelimo.</p>

    <h2>1. Koje podatke prikupljamo?</h2>
    <p>U cilju pružanja optimalnih usluga, naša kompanija prikuplja širok spektar podataka, uključujući:</p>
    <ul>
        <li><strong>Osobne identifikacijske informacije (OII)</strong>: Ime, prezime, datum rođenja, kontakt informacije (uključujući e-mail i fizičku adresu), i druge relevantne osobne podatke koje dobrovoljno pružite.</li>
        <li><strong>Demografske informacije</strong>: Spol, dob, etnička pripadnost, zanimanje, i druge slične informacije.</li>
        <li><strong>Podaci o korištenju</strong>: Informacije o načinu kako koristite našu web stranicu, uključujući, ali ne ograničavajući se na, podatke o interakciji s sadržajem i uslugama.</li>
        <li><strong>Tehnički podaci</strong>: IP adrese, vrste preglednika, informacije o uređaju, podaci o lokaciji, i druge tehnološke informacije potrebne za analizu i poboljšanje naših usluga.</li>
    </ul>

    <h2>2. Kako koristimo vaše informacije?</h2>
    <p>Svi prikupljeni podaci koriste se u sljedeće svrhe:</p>
    <ul>
        <li><strong>Pružanje usluga</strong>: Koristimo vaše informacije kako bismo personalizirali i poboljšali vaše iskustvo korištenja naše web stranice.</li>
        <li><strong>Analiza i razvoj</strong>: Podaci su ključni za razumijevanje potreba naših korisnika i unapređenje naših proizvoda i usluga.</li>
        <li><strong>Marketing i oglašavanje</strong>: Vaše informacije koristimo za ciljano oglašavanje, u skladu s vašim interesima i prethodnim ponašanjem.</li>
    </ul>

    <h2>3. Dijeljenje vaših informacija</h2>
    <p>Vaše podatke možemo dijeliti sa:</p>
    <ul>
        <li><strong>Poslovnim partnerima</strong>: U cilju pružanja specijaliziranih usluga ili proizvoda koje ste zatražili.</li>
        <li><strong>Regulatornim tijelima</strong>: Kada to zahtijevaju zakonske regulative.</li>
        <li><strong>Trećim stranama</strong>: Za svrhe analitike, marketinga i drugih usluga koje doprinose poboljšanju naših usluga.</li>
    </ul>

    <h2>4. Vaša prava i izbori</h2>
    <p>Imate pravo na pristup, ispravak, ograničenje korištenja ili brisanje vaših osobnih podataka koje smo prikupili. Molimo kontaktirajte nas za više informacija o vašim pravima i kako ih možete ostvariti.</p>

    <h2>5. Promjene našoj Politici Privatnosti</h2>
    <p>Zadržavamo pravo da povremeno ažuriramo našu Politiku privatnosti. Preporučujemo redovitu provjeru ovog dokumenta kako biste bili informirani o bilo kojim promjenama.</p>

    <p>Zahvaljujemo vam na povjerenju koje ste nam ukazali koristeći našu web stranicu i usluge. Za dodatne informacije ili pitanja, molimo ne oklijevajte kontaktirati nas.</p>
</section>

    <style>
        section {
            margin: 2rem;
            line-height: 1.6;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            color: #cdcdcd;
        }

        ul {
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 0.5rem;
        color: #cdcdcd;
        }
    </style>